
<section>
    <article >  
        <div class="card mb-3" style="max-width: 1000px">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{item.image}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Name :{{item.name}}</h5>
                        <h5 class="card-title">Price :{{item.price}}</h5>
                        <p class="card-text" >{{item.description}}</p>
                    </div>  
                    <a class="btn btn-secondary"  onclick="goBack()" role="button">Return Back</a>
                    <script>
function goBack() {
  window.history.back();
}
</script> 
                   
                </div>        
            </div>
        </div>
    </article>
</section>
