<div>
    {{#each items}}
        <div>
            <a href="/items/">{{name}}</a>
            <a href="/items/">{{price}}</a>
            <img src="{{image}}" alt="">
            <a href="/items/">{{description}}</a>
        </div>
    {{/each}}
</div>