<h2>{{warehouse.name}}</h2>
<section>
    <article>
            {{!-- <img src={{this.image}} /> --}}
            <br />
            <h3>MENU:2</h3>
           
             
    </article>
</section>