body {
    background-color: lightslategray;
}

h1 {
    text-align: center;
}

.b {
    width: 600px;
    height: 350px;
}

.c {
    margin-left: 27%;
}

.return {
    align-self: bottom right;
}

#description {
    height: 3cm;
}